<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "author" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{model.last}}, {{model.first}}</h3>

        <div class="actions">
          {{#link-to "author.edit" model.id class="btn-pop"}}edit{{/link-to}}
        </div>
      </div>
      <div class="details">
        <p>
          <strong>Added By:</strong>

          {{model.username}}
        </p>
      </div>
    </div>

    <div class="slide-out-content">
      <div class="title">
        <h3>{{model.books.length}} Books from this author</h3>
      </div>

      <div class="actions">
      </div>

      <ul class="book-list">
        {{#each model.books as |book|}}
          <li class="book">
            <p class="book-title">
              {{#link-to "book.detail" book.id}}
                {{book.title}}
              {{/link-to}}
            </p>
            <p class="book-isbn">{{book.isbn}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{liquid-outlet}}
