<form {{action this.submitChanges on="submit"}}>
  <InputField @type="text" @label="Title" @value={{this.title}} @onchange={{action (mut this.title)}} />

  <InputField @type="text" @label="ISBN" @value={{this.isbn}} @onchange={{action (mut this.isbn)}} />

  <InputField @type="date" @label="Publish Date" @value={{this.publishDate}} @onchange={{action (mut this.publishDate)}} />

  <div class="field">
    <label>Author:</label>
    <p class="control">
      <UiSelect @label="Select Author" @value={{this.author}} @options={{@authors}} @onchange={{action this.changeAuthor}} as |authorOption| >
        {{authorOption.last}}, {{authorOption.first}}
      </UiSelect>
    </p>
  </div>

  <div class="field">
    <label>Don't See Your Author?</label>
    <NewAuthorModal @onsave={{action (mut this.author)}} />
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">save</button>
  </div>
</form>
