<button type="button" class="btn-trigger" {{action (mut showModal) true on="click"}}>Add a New Author</button>

{{#liquid-if showModal class="modal-if"}}
  <div class="modal">
    <form class="modal-card" {{action "save" on="submit"}}>
      <h3 class="modal-heading">Add New Author For Book</h3>

      <div class="modal-content">
        <div class="field">
          <label>First Name:</label>
          {{input type="text" placeholder="First Name" value=author.first}}
        </div>
        <div class="field">
          <label>Last Name:</label>
          {{input type="text" placeholder="Last Name" value=author.last}}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-clear" {{action (mut showModal) false on="click"}}>Cancel</button>
        <button type="submit" class="btn-submit">Submit</button>
      </div>
    </form>
  </div>
{{/liquid-if}}
