<button type="button" class="btn-trigger" {{action (mut showModal) true on="click"}}>Add a New Author</button>

{{#if showModal}}
  <div class="modal-if">
    <div class="modal">
      <form class="modal-card" {{action "save" on="submit"}}>
        <h3 class="modal-heading">Add New Author For Book</h3>

        <div class="modal-content">
          {{input-field type="text" label="First Name" value=this.first onchange=(action (mut this.first))}}

          {{input-field type="text" label="Last Name" value=this.last onchange=(action (mut this.last))}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn-clear" {{action (mut showModal) false on="click"}}>Cancel</button>
          <button type="submit" class="btn-submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
{{/if}}
